#### Exercise 2: Create markdown cell with title of the notebook
Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction
Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.

**Solution**: In this notebook, we have discussed the various tools and techniques used in the industry by Data Scientist across the World. We have also explored basic arithematic in python.

#### Exercise 4 - Create a markdown cell to list data science languages
Start the cell with an overview line such as:

Some of the popular languages that Data Scientists use are:
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

**Solution:** Some of the Popular languages used in Data Science are as follows:

1. Python
2. R
3. SQL
4. Julia
5. Java

#### Exercise 5 - Create a markdown cell to list data science libraries

Add an overview line to the cell like:

Some of the commonly used libraries used by Data Scientists include:
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

**Solution:**  Some of the Python Programming Libraries used in Data Sciences are as Follows:

1. Pandas
2. Seaborn
3. Scikit-learn
4. Tensorflow

#### Exercise 6 - Create a markdown cell with a table of Data Science tools

Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

**Solution:**

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:

Below are a few examples of evaluating arithmetic expressions in Python.

**Solution:** 

### Below are examples of basic arithmetic expressions in Python

In [9]:
# Addition
print(4+5)

9

In [10]:
# Subtraction

print(9-4)

5

In [12]:
# Multiplication

print(3*4)

12

In [13]:
# Division (with float)

print(10/3)

3.3333333333333335

In [15]:
# Division (without float)

print(10//3)

3

In [16]:
# Expotent

print(2**3)

8

In [17]:
# Modulus

print(10%3)

1

#### Exercise 8 - Create a code cell to multiply and add numbers

In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.

**Solution:**

In [19]:
# This is an expression where we are multipling and after that adding. 4*3=12 and 12+8=20
print((4*3)+8)

20

#### Exercise 9 - Create a code cell to convert minutes to hours

In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression.

**Solution:**

In [25]:
# Expression to context 200 mins into hours

print(f"{round(200/60, 2)} hours")

3.33 hours

#### Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

##### Objectives:

In this notebook, we have covered several important topics within the data science ecosystem. These include:

- **Popular Languages for Data Science:** Discussed some of the most commonly used programming languages in the data science field such as Python, R, SQL, Julia, and Java.

- **Data Science Libraries:** Introduced some of the most widely used libraries in Python for data science, including Pandas, Seaborn, Scikit-learn, and TensorFlow.

- **Data Science Tools:** Explored the use of various data science tools, with a focus on Jupyter Notebook, RStudio, and Apache Zeppelin.

- **Basic Python Arithmetic:** Demonstrated the use of Python for basic arithmetic operations, such as addition, subtraction, multiplication, division, exponentiation, and modulus operations.

- **Minutes to Hours Conversion:** Showed how to convert minutes to hours using a simple division operation in Python, and displayed the result using the print() function.

#### Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.
Take a screenshot of the markdown cell and name it as 11-authordetails.png (Images can be saved with either the .jpg or .png extension.)

## Author
    Ashish Kr Jha